html {
  overflow: unset;
  height: 100%;
}

body {
  overflow: auto;
  color: #000000;
  font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif';
  font-weight: 300;
  height: 100%;
}

div.buttons {
  display: flex;
}

div.buttons > button {
  margin-right: 8px;
}

div.buttons button:last-child {
  margin-right: 0;
}

div.spacer {
  flex: 1;
}

div.image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
